@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------Login & Register--------------------------------------------------- */
.input {
    @apply w-full p-3 border rounded-xl focus:ring-2 focus:ring-blue-500;
}
.input-file {
    @apply border rounded-xl p-2 cursor-pointer;
}
.error {
    @apply text-red-600 text-sm mt-1 font-medium;
}

/* ----------------------------------------------Main Layout--------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f6fa;
}

/* LAYOUT */
.layout {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #f8fafc;
    color: #111827;

    position: fixed;      /* KEY FIX */
    top: 0;
    left: 0;
    height: 100vh;        /* FULL SCREEN HEIGHT */

    display: flex;
    flex-direction: column;

    border-right: 1px solid #e5e7eb;
    transition: 0.3s;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 60px;
}

/* HEADER */
.sidebar-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 35px;
}

.logo-text {
    font-weight: bold;
    font-size: 30px;
    color: #2A57B4;
}

/* BUTTON */
.collapse-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

/* CONTENT */
.sidebar-content {
    flex: 1;
    overflow-y: auto;
    padding: 10px 15px;
}

/* LINKS */
.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    color: #111827;
    text-decoration: none;
    border-radius: 8px;
}
.sidebar-link i {
    font-size: 20px;
    min-width: 20px;
}

.sidebar-link:hover {
    background: #e5e7eb;
}

/* SECTIONS */
.section-title {
    font-size: 12px;
    color: #6b7280;
    margin: 10px 0;
}

/* PROFILE */
.sidebar-profile {
    padding: 5px;
    border-top: 1px solid #e5e7eb;
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: white;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid #e5e7eb;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
.profile-row {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 8px;
}

.profile-row:hover {
    background: #e5e7eb;
}

.name {
    font-size: 15px;
}

.sub {
    font-size: 10px;
    color: #6b7280;
}

/* MAIN */
.main-content {
    margin-left: 250px;   /* SAME AS SIDEBAR WIDTH */
    flex: 1;
    transition: 0.3s;
    overflow-y: auto;
    height: 100vh;
}

.sidebar.collapsed + .main-content {
    margin-left: 60px;
}

/* TOPBAR */
.topbar {
    position: sticky;
    display: flex;
    justify-content: space-between; /* THIS pushes right side */
    align-items: center;
    padding: 15px;
    width: 100%;
}

/* TOPBAR LEFT */
.topbar-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* TOGGLE BUTTON */
.collapse-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* OPTIONAL: better alignment */
.topbar h3 {
    margin: 0;
}

/* CONTENT BOX */
.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

/* COLLAPSED STATE */
.sidebar.collapsed .logo-text,
.sidebar.collapsed .section-title,
.sidebar.collapsed .sidebar-link span,
.sidebar.collapsed .profile-info {
    display: none;
}

.sidebar.collapsed .sidebar-link {
    justify-content: center;
}
.sidebar.collapsed .profile-row {
    justify-content: center;
}

/* ----------------------------LOGOUT BUTTON----------------------------- */
/* RIGHT SIDE */
.topbar-right {
    display: flex;
    align-items: center;
}

.logout-icon {
    background: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

/* ICON STYLE */
.logout-icon i {
    font-size: 20px;
    color: #ef4444;
    transition: 0.2s;
}

/* HOVER EFFECT */
.logout-icon:hover i {
    color: #dc2626;
    transform: scale(1.2);
}
.logout-icon::after {
    content: "Logout";
    position: absolute;
    bottom: -28px;
    right: 0;
    background: black;
    color: white;
    font-size: 11px;
    padding: 4px 6px;
    border-radius: 4px;
    opacity: 0;
    transition: 0.2s;
    white-space: nowrap;
}

.logout-icon:hover::after {
    opacity: 1;
}


/* ---------------------CHATBOT-------------------- */
/* FLOATING BUTTON */
.chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2563eb;
    color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 24px;
    z-index: 2000;
}

/* FLOATING PANEL */
.chatbot-panel {
    position: fixed;
    bottom: 85px; /* ABOVE BUTTON */
    right: 20px;

    width: 320px;
    height: 420px;

    background: white;
    border-radius: 12px;
    display: none;
    flex-direction: column;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    z-index: 3000;
}

/* OVERLAY */
.chatbot-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

/* CHATBOX */
.chatbot-box {
    width: 350px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* HEADER */
.chatbot-header {
    background: #2563eb;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.chatbot-body {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.chatbot-input {
    display: flex;
    border-top: 1px solid #ddd;
}

.chatbot-input input {
    flex: 1;
    border: none;
    padding: 10px;
}


.chatbot-input button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px;
}

/*--------------------- tooltips------------------- */
#tooltip {
    position: fixed;
    background: #111827;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
    transition: 0.15s ease;
    z-index: 9999;
    white-space: nowrap;
}

